* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
body {
    font-family: Verdana, sans-serif;
    margin:0;
    overflow-x: hidden;
    background-image: url(../clouds1.jpg);
    min-height: 100vh;
}

header{
    height: -10vh;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.main{
    overflow: hidden;
    position: fixed;
    background-color: rgba(135,206,250,0.4);
    top: 0;
    width: 100vw;
    height: 10vh;
    max-width: 1691px;
    /* 1550px */
    /* 8vh */
}

ul{
    list-style-type: none;
    margin-top: 20px;
    margin-right: 50px;
}

ul li{
    display: inline;
}

.list{
    position: fixed;
    display: block;
    top: 9px;
    float: left;
}

.list li.logo img{
    position: relative;
    float: left;
    top: -20px;
    margin-left: 10%;
    margin-right: 35px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;

}

.list input[type=image]{
    position: relative;
    float: right;
    top:-88px;
    left: 10%;
    margin-left: 20%;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #00f;
    transition: 0.6s ease;
    background-color: #fff;
}

.list input[type=image]:hover{
    background-color: #739ac5;
}

.list2{
    position: relative;
    top: -20px;
    float: right;
}

.list2 li a{
    text-decoration: none;
    color: rgb(6, 115, 115);
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.9s ease;
}

.list2 li a:hover{
    background-color: #fff;
    color: #000;

}

.list2 li.active-menu a{
    background-color: #fff;
    color: #000;
}

.search{
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
}

.search input[type=text]{
    position: relative;
    float: left;
    top:-55px;
    left: 22%;
    padding: 6px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #0000ff;
    transition: 0.6s ease;
}

.search input[type=text]:hover{
    background-color: #dcdcdc;
}
.sec-1{
    background-image: url(./images/bg.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-1 h2 {
    padding-top: 400px;
    padding-left: 500px;
    font-size: 120px;
    font-family: cursive;
    color:white
}
.sec-1 span{
    font-size: 30px;
}

.py-4 {
    padding: 4rem 0;
    background: url(./images/beach2.jpg);
    background-repeat: no-repeat;
    background-size: 153%;
    top: 10px;
  }
  
  .des {
    width: 100%;
    display: block;
    padding: 10px;
  
  }
  
  .title-wrap {
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .lg-title {
    font-size: 1.8rem;
    color: #094b65;
  }
  
  .sm-title {
    display: block;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
  }
  
  .des_container{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 250px !important;
  }
  .des_container .des_card{
    position: relative;
    max-width: 350px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
  }
  .des_container .des_card:hover{
    height: 420px;
  }
  .des_container .des_card .imgBx{
    position: relative;
    max-width: 300px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  
  .des_container .des_card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
  }
  .des_container .des_card .des_content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }
  .des_container .des_card:hover .des_content
  {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }

  .card-container {
    width: 250px;
    height: auto;
    position: relative;
    background: #e1dbad;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding: 30px;
    transition: all .3s ease-in;
  
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
  
  }
  .service_area {
    background-image: url(./images/sunrise.jpg);
    padding: 50px;
    z-index: 100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: antiquewhite;
  }
  .card-container .card-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
  }
  .card-container .card-title {
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #094b65;
  }
  .card-container:nth-child(2) .card-image {
    background: url(./images/service-icon-1.svg);
    background-size: 100%;
  }
  .card-container:nth-child(3) .card-image {
    background: url(./images/service-icon-2.svg);
    background-size: 100%;
  }
  .card-container:nth-child(4) .card-image {
    background: url(./images/service-icon-3.svg);
    background-size: 100%;
  }
  .serve1 {
    font-size: 55px;
    color: rgb(19, 83, 110);
    font-family: 'Prata', serif;
  }
  .serve {
    color: black;
    font-size: 22px;
    font-family: 'Prata', serif;
  }
  .card-container:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 150ms;
    cursor: pointer;
  }
  .sec_gallery{
    /* height: 800px; */
    background-image: url(./images/destination1.jpg);
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  .heading{
    position: relative;
    text-align: center;
    top:50px;
    color: white;
    font-size: 70px;
  }
  .container{
    overflow: auto;
    width: 1450px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .box{
    overflow: hidden;
    width: 320px;
    height: 270px;
    margin:20px;
    box-sizing: border-box;
    display: inline-block;
    transition: transform 2s;
  }
  .container .box .imgBox{
    overflow: hidden;
  }
  .container .box .imgBox img{
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
  }
  .container .box .name-text{
    position: absolute;
    top: 400px;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    transition: 0.6s ease;
  }
  .container .box .name-text a{
    position: relative;
    display: none;
    border: 1px solid #fff;
    padding: 5px 9px;
    top: -20px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    text-align: center;
  }
  .container .box:hover .imgBox img{
    overflow: hidden;
    transform: scale(1.2);
  }
  .container .box:hover .name-text a{
    display: block;
    top: -20px;
  }
  .container .box .name-text a:hover{
    background-color: #fff;
      color: #000;
  }
  .container .box:hover .top1{
    top: 2690px;
  }
  .container .box .name-pading1{
    left: 150px;
    top: 2750px ;
  }
  .container .box .name-pading2{
    left: 520px;
    top: 2750px ;
  }
  .container .box .name-pading3{
    left: 880px;
    top: 2750px ;
  }
  .container .box .name-pading4{
    left: 1240px;
    top: 2750px ;
  }
  .container .box:hover .top2{
    top: 2990px;
  }
  .container .box .name-pading5{
    top: 3050px;
    left: 180px;
  }
  .container .box .name-pading6{
    top: 3050px;
    left: 500px;
  }
  .container .box .name-pading7{
    top: 3050px;
    left: 890px;
  }
  .container .box .name-pading8{
    top: 3050px;
    left: 1230px;
  }
  .about{
    position: relative;
    background-image: url('./images/camera.jpg');
    top: 5px;
    width: 98.9vw;
    height: 50vh;
  }
  .about h1{
    position: relative;
    text-align: center;
    color: white;
    top: 125px;
    padding: 10px;
    font-size: 70px;
  }
footer
{
  text-decoration: none;
  font-family: Helvetica;
  color:#fff;
}
.footer .footer-logo{
  margin-top: 10px;
  padding-right: 30px;
}
