#h1{
    color: aliceblue;
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    height: 30px;
    width: 209px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
#main{
    background-color: black;
    color: white;
    height: 320px;
    width: 250px;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
}
.input{
    border: 5px solid  rgb(76, 109, 76) !important;
    background-color: rgb(102, 155, 102) !important;
    color: white;
    text-align: right;
    border-radius: 9px;
    height: 35px;
    width: 230px;
    border: 2px solid white;
}
.btn{
    height: 35px;
    width: 45px;
}
.btn:hover{
    background-color: rgba(240, 248, 255, 0.689);
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 20px 20px 20px 20px 20px;
    background-color: rgb(32, 31, 31);
    padding: 30px;
    padding-left: 10px !important;
    padding-right: 60px !important;
    margin-left: 570px;
    margin-top: 70px;
    gap: 25px;
    border-radius: 10px;
}

.grid-items,
.grid-items-0,
.grid-items-1,
.grid-items-2,
.grid-items-3 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    color: white;
}
.grid-items-0 {
    background-color: rgb(102, 155, 102) !important;
    border: 5px solid rgb(76, 109, 76);
    grid-column: 1/5;
    grid-row: 1/2;
    height: 20px;
}

.grid-items-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;
}